In [8]:
from __future__ import print_function

import pandas as pd          
import numpy as np
import tensorflow as tf
import os

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
import numpy as np

os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2`' 

learning_rate = 0.01
num_steps = 10
mini_batch_size = 10
display_step = 1

n_hidden_1  = 8
n_hidden_2  = 8
n_hidden_3 = 8
num_input  = 13
num_classes = 2

output_file = open("C:/Users/Ishita Jain/Desktop/output.txt","w+")

# Might consider making changes to evaluation or minimization
# Standard Deviation of 0.02 works 13 13 8 or 13 13 13

In [2]:
def get_accuracy(predictions, labels):
    preds_correct_boolean = np.equal(predictions,labels)
    print(preds_correct_boolean)
    correct_predictions = np.sum(preds_correct_boolean)
    print(correct_predictions)
    acc = 100.0 * (correct_predictions / preds_correct_boolean.shape[0])
    return acc

In [3]:
def Logistic(X,T):
    logistic = LogisticRegression()
    a = logistic.fit(X,T)
    y_pred = logistic.predict(X)
    ac = accuracy_score(y_pred,T)
    return ac

In [4]:
def nn(X,T2,X_test,Y_test):
    
    # tf Graph input
    x = tf.placeholder("float", [None, num_input])
    y = tf.placeholder("float", [None, num_classes])

    # Store layers weight & bias
    weights = {
        'h1': tf.Variable(tf.random_normal([num_input, n_hidden_1],dtype=np.float32,stddev = 0.002)),
        'h2': tf.Variable(tf.random_normal([n_hidden_1, n_hidden_2], dtype=np.float32,stddev = 0.002)),	
        'out': tf.Variable(tf.random_normal([n_hidden_2, num_classes], dtype=np.float32,stddev = 0.002))
    }
    biases = {
        'b1': tf.Variable(tf.random_normal([n_hidden_1], dtype=np.float32,stddev = 0.002)),
        'b2': tf.Variable(tf.random_normal([n_hidden_2], dtype=np.float32,stddev = 0.002)),
        'out': tf.Variable(tf.random_normal([num_classes], dtype=np.float32,stddev = 0.002))
    }

    # Create model

    layer_1 = tf.add(tf.matmul(x, weights['h1']), biases['b1'])
    y_layer_1 = tf.nn.relu(layer_1) #tf.nn.sigmoid
    layer_2 = tf.add(tf.matmul(y_layer_1, weights['h2']), biases['b2'])
    y_layer_2 = tf.nn.relu(layer_2)
    out_layer = tf.matmul(y_layer_2, weights['out']) + biases['out']

    # Construct model
    logits = out_layer
    prediction = tf.nn.softmax(logits)

    # Define loss and optimizer
    loss_op = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits_v2(logits=logits, labels=y))
    #loss_op = tf.reduce_mean(-tf.reduce_sum(y * tf.log(prediction), reduction_indices=[1]))
    optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate)
    #grads_and_vars = optimizer.compute_gradients(loss_op,tf.trainable_variables())
    #train_op = optimizer.apply_gradients(grads_and_vars)
    train_op = optimizer.minimize(loss_op)

    # Evaluate model
    qq = tf.argmax(prediction, 1)
    correct_pred = tf.equal(qq, tf.argmax(y, 1))
    accuracy = tf.reduce_mean(tf.cast(correct_pred, tf.float32))

    # Initialize the variables (i.e. assign their default value)
    init = tf.global_variables_initializer()

    t_acc = 0

    # Start training
    with tf.Session() as sess:

        # Run the initializer
        sess.run(init)
        fin_acc = 0
        for step in range(1, num_steps+1):
            offset = (step * mini_batch_size) % (X.shape[0] - mini_batch_size)
            batch_x = X[offset:(offset + mini_batch_size), :]
            batch_y = T2[offset:(offset + mini_batch_size)]


            # Run optimization op (backprop)
            sess.run(train_op, feed_dict={x: batch_x, y: batch_y})
            #gr_print = sess.run([grad for grad, _ in grads_and_vars], feed_dict={x:batch_x, y : batch_y})
            #print(gr_print)

            loss, acc = sess.run([loss_op, accuracy], feed_dict={x: batch_x,y: batch_y})

            print("Step " + str(step) + ", Minibatch Loss= " + "{:.9f}".format(loss) + ", Training Accuracy= " + "{:.9f}".format(acc))


        fin_acc = sess.run(accuracy, feed_dict={x: X,y: T2})
        writer = tf.summary.FileWriter('logs', sess.graph)

        print("Training Accuracy is")
        print(fin_acc)
        print("Testing Accuracy is")
        t_acc = sess.run(accuracy,feed_dict = {x:X_test,y:Y_test})
        print(t_acc)

    return t_acc

In [9]:
data = pd.read_csv("C:/Users/Ishita Jain/Desktop/Bank_EXIT_Survey.csv")
feature_names = list(data)

data = data[feature_names[3:]]
target = data["Status"]
data.drop("Status",axis=1,inplace=True)

data2 = pd.get_dummies(data["City"])
result = pd.concat([data, data2], axis=1)
result.drop("City",axis=1,inplace=True)

data2 = pd.get_dummies(result["Gender"])
result = pd.concat([result,data2],axis=1)
result.drop("Gender",axis=1,inplace=True)

X = result.values
T = target.values

res = tf.one_hot(indices = T,depth = 2)

with tf.Session() as sess:
    T2 = res.eval()

print("Accuracy for Logistic Regression is :")
print(Logistic(X,T))

k_fold_list = [5,10]
mean_accuracies = []

for k_fold in k_fold_list:

    output_file.write("For " + str(k_fold) + " Validation:\n")

    cv = KFold(n_splits=k_fold)
    accuracies = []

    for train_index, test_index in cv.split(X):
            training_X = X[train_index]
            training_y = T2[train_index]
            testing_X = X[test_index]
            testing_y = T2[test_index]
            accuracies.append(nn(training_X,training_y,testing_X,testing_y))

    output_file.write("The accuracies are:\n")
    output_file.write(str(accuracies) + "\n")

    output_file.write("The mean accuracy is :")
    mean_accuracies.append(np.mean(accuracies))
    output_file.write(str(np.mean(accuracies)))
    output_file.write("\n")

print(mean_accuracies)
output_file.write("Mean accuracies are ")
output_file.write(str(mean_accuracies))

Accuracy for Logistic Regression is :
0.7889

C:\Users\Ishita jain\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Step 1, Minibatch Loss= 0.263055891, Training Accuracy= 1.000000000
Step 2, Minibatch Loss= 0.501988769, Training Accuracy= 0.800000012
Step 3, Minibatch Loss= 0.927805901, Training Accuracy= 0.699999988
Step 4, Minibatch Loss= 0.523442447, Training Accuracy= 0.899999976
Step 5, Minibatch Loss= 0.673627675, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.673686028, Training Accuracy= 0.800000012
Step 7, Minibatch Loss= 0.687204957, Training Accuracy= 0.600000024
Step 8, Minibatch Loss= 0.678873003, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.667965889, Training Accuracy= 0.800000012
Step 10, Minibatch Loss= 0.653864563, Training Accuracy= 0.899999976
Training Accuracy is
0.797375
Testing Accuracy is
0.792
Step 1, Minibatch Loss= 0.536873579, Training Accuracy= 0.899999976
Step 2, Minibatch Loss= 0.803692162, Training Accuracy= 0.300000012
Step 3, Minibatch Loss= 0.627812505, Training Accuracy= 0.800000012
Step 4, Minibatch Loss= 0.681042075, Training Accuracy= 0.600000024
Step 5, Minibatch Loss= 0.681611657, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.655423284, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.657730877, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.673217595, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.645453990, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.667300344, Training Accuracy= 0.699999988
Training Accuracy is
0.799125
Testing Accuracy is
0.785
Step 1, Minibatch Loss= 0.492496789, Training Accuracy= 0.899999976
Step 2, Minibatch Loss= 0.735412061, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.552481234, Training Accuracy= 0.800000012
Step 4, Minibatch Loss= 0.689508975, Training Accuracy= 0.600000024
Step 5, Minibatch Loss= 0.681777596, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.664614081, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.666363597, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.677994251, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.657042384, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.673243463, Training Accuracy= 0.699999988
Training Accuracy is
0.79575
Testing Accuracy is
0.7985
Step 1, Minibatch Loss= 0.332760453, Training Accuracy= 0.899999976
Step 2, Minibatch Loss= 0.504599333, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.640097320, Training Accuracy= 0.800000012
Step 4, Minibatch Loss= 0.688580155, Training Accuracy= 0.600000024
Step 5, Minibatch Loss= 0.680764616, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.654210329, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.655829608, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.672191322, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.643181622, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.666384578, Training Accuracy= 0.699999988
Training Accuracy is
0.795125
Testing Accuracy is
0.801
Step 1, Minibatch Loss= 0.375959784, Training Accuracy= 0.899999976
Step 2, Minibatch Loss= 0.631913543, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.519194007, Training Accuracy= 0.800000012
Step 4, Minibatch Loss= 0.688032866, Training Accuracy= 0.600000024
Step 5, Minibatch Loss= 0.686257839, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.672006190, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.672201633, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.680782378, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.662921071, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.676040769, Training Accuracy= 0.699999988
Training Accuracy is
0.794125
Testing Accuracy is
0.805
Step 1, Minibatch Loss= 0.772087216, Training Accuracy= 0.699999988
Step 2, Minibatch Loss= 0.520017982, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.116742536, Training Accuracy= 1.000000000
Step 4, Minibatch Loss= 0.713178933, Training Accuracy= 0.600000024
Step 5, Minibatch Loss= 0.549960375, Training Accuracy= 0.899999976
Step 6, Minibatch Loss= 0.558437169, Training Accuracy= 0.500000000
Step 7, Minibatch Loss= 0.469470024, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.678384483, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.668101490, Training Accuracy= 0.699999988
Step 10, Minibatch Loss= 0.653038323, Training Accuracy= 0.899999976
Training Accuracy is
0.7963333
Testing Accuracy is
0.796
Step 1, Minibatch Loss= 0.464766920, Training Accuracy= 0.899999976
Step 2, Minibatch Loss= 0.557412148, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.563947856, Training Accuracy= 0.800000012
Step 4, Minibatch Loss= 0.692680955, Training Accuracy= 0.600000024
Step 5, Minibatch Loss= 0.680372715, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.670688689, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.671070039, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.680150628, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.661314368, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.675089777, Training Accuracy= 0.699999988
Training Accuracy is
0.7972222
Testing Accuracy is
0.788
Step 1, Minibatch Loss= 0.455791712, Training Accuracy= 0.899999976
Step 2, Minibatch Loss= 0.477470100, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.534283042, Training Accuracy= 0.800000012
Step 4, Minibatch Loss= 0.687943339, Training Accuracy= 0.600000024
Step 5, Minibatch Loss= 0.681044698, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.657217205, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.658272088, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.673660398, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.646938145, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.668308437, Training Accuracy= 0.699999988
Training Accuracy is
0.79766667
Testing Accuracy is
0.784
Step 1, Minibatch Loss= 0.361703455, Training Accuracy= 0.899999976
Step 2, Minibatch Loss= 0.465630352, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.533387661, Training Accuracy= 0.800000012
Step 4, Minibatch Loss= 0.695707321, Training Accuracy= 0.500000000
Step 5, Minibatch Loss= 0.684622765, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.666712284, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.667366326, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.678212702, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.657076955, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.673139393, Training Accuracy= 0.699999988
Training Accuracy is
0.79744446
Testing Accuracy is
0.786
Step 1, Minibatch Loss= 0.773396850, Training Accuracy= 0.100000001
Step 2, Minibatch Loss= 0.484201044, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.776724696, Training Accuracy= 0.800000012
Step 4, Minibatch Loss= 0.686937511, Training Accuracy= 0.600000024
Step 5, Minibatch Loss= 0.677861989, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.646543801, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.650039494, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.669670880, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.638036907, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.664248705, Training Accuracy= 0.699999988
Training Accuracy is
0.7958889
Testing Accuracy is
0.8
Step 1, Minibatch Loss= 0.333832920, Training Accuracy= 0.899999976
Step 2, Minibatch Loss= 0.406475961, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.591984153, Training Accuracy= 0.800000012
Step 4, Minibatch Loss= 1.654949427, Training Accuracy= 0.400000006
Step 5, Minibatch Loss= 0.772572875, Training Accuracy= 0.200000003
Step 6, Minibatch Loss= 0.651939452, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.654279709, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.671618104, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.643016517, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.666306973, Training Accuracy= 0.699999988
Training Accuracy is
0.7962222
Testing Accuracy is
0.797
Step 1, Minibatch Loss= 0.578508258, Training Accuracy= 0.899999976
Step 2, Minibatch Loss= 0.352687776, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.551190853, Training Accuracy= 0.800000012
Step 4, Minibatch Loss= 0.714093089, Training Accuracy= 0.600000024
Step 5, Minibatch Loss= 0.668742299, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.661770940, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.664281666, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.676943421, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.654780686, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.672192216, Training Accuracy= 0.699999988
Training Accuracy is
0.7952222
Testing Accuracy is
0.806
Step 1, Minibatch Loss= 0.362667739, Training Accuracy= 0.899999976
Step 2, Minibatch Loss= 0.481930166, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.662087262, Training Accuracy= 0.800000012
Step 4, Minibatch Loss= 0.698525667, Training Accuracy= 0.600000024
Step 5, Minibatch Loss= 0.676589310, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.664470553, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.665886045, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.677564025, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.655868351, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.672651052, Training Accuracy= 0.699999988
Training Accuracy is
0.7963333
Testing Accuracy is
0.796
Step 1, Minibatch Loss= 0.427580118, Training Accuracy= 0.899999976
Step 2, Minibatch Loss= 0.650033355, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.593377709, Training Accuracy= 0.800000012
Step 4, Minibatch Loss= 0.689001203, Training Accuracy= 0.600000024
Step 5, Minibatch Loss= 0.680281222, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.653527975, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.655785680, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.672369242, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.643958628, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.666894495, Training Accuracy= 0.699999988
Training Accuracy is
0.7965556
Testing Accuracy is
0.789
Step 1, Minibatch Loss= 0.346598893, Training Accuracy= 0.899999976
Step 2, Minibatch Loss= 0.414396763, Training Accuracy= 0.899999976
Step 3, Minibatch Loss= 0.933673561, Training Accuracy= 0.600000024
Step 4, Minibatch Loss= 3.809524059, Training Accuracy= 0.600000024
Step 5, Minibatch Loss= 0.748283744, Training Accuracy= 0.699999988
Step 6, Minibatch Loss= 0.050313167, Training Accuracy= 1.000000000
Step 7, Minibatch Loss= 0.308976948, Training Accuracy= 0.899999976
Step 8, Minibatch Loss= 0.688021243, Training Accuracy= 0.699999988
Step 9, Minibatch Loss= 0.479696363, Training Accuracy= 0.899999976
Step 10, Minibatch Loss= 0.651992083, Training Accuracy= 0.699999988
Training Accuracy is
0.79355556
Testing Accuracy is
0.821
[0.7963, 0.7963]

16

In [10]:
data

,CreditBonus,City,Gender,Age,Tenure,Balance,AvailedProducts,CreditCardPresent,ActiveOnline,Current Salary
0,619,Pilani,Female,42,2,0.00,1,1,1,101348.88
1,608,Hyderabad,Female,41,1,83807.86,1,0,1,112542.58
2,502,Pilani,Female,42,8,159660.80,3,1,0,113931.57
3,699,Pilani,Female,39,1,0.00,2,0,0,93826.63
4,850,Hyderabad,Female,43,2,125510.82,1,1,1,79084.10
5,645,Hyderabad,Male,44,8,113755.78,2,1,0,149756.71
6,822,Pilani,Male,50,7,0.00,2,1,1,10062.80
7,376,Goa,Female,29,4,115046.74,4,1,0,119346.88
8,501,Pilani,Male,44,4,142051.07,2,0,1,74940.50
9,684,Pilani,Male,27,2,134603.88,1,1,1,71725.73
10,528,Pilani,Male,31,6,102016.72,2,0,0,80181.12
11,497,Hyderabad,Male,24,3,0.00,2,1,0,76390.01
12,476,Pilani,Female,34,10,0.00,2,1,0,26260.98
13,549,Pilani,Female,25,5,0.00,2,0,0,190857.79
14,635,Hyderabad,Female,35,7,0.00,2,1,1,65951.65
15,616,Goa,Male,45,3,143129.41,2,0,1,64327.26
16,653,Goa,Male,58,1,132602.88,1,1,0,5097.67
17,549,Hyderabad,Female,24,9,0.00,2,1,1,14406.41
18,587,Hyderabad,Male,45,6,0.00,1,0,0,158684.81
19,726,Pilani,Female,24,6,0.00,2,1,1,54724.03
20,732,Pilani,Male,41,8,0.00,2,1,1,170886.17
21,636,Hyderabad,Female,32,8,0.00,2,1,0,138555.46
22,510,Hyderabad,Female,38,4,0.00,1,1,0,118913.53
23,669,Pilani,Male,46,3,0.00,2,0,1,8487.75
24,846,Pilani,Female,38,5,0.00,1,1,1,187616.16
25,577,Pilani,Male,25,3,0.00,2,0,1,124508.29
26,756,Goa,Male,36,2,136815.64,1,1,1,170041.95
27,571,Pilani,Male,44,9,0.00,2,0,0,38433.35
28,574,Goa,Female,43,3,141349.43,1,1,1,100187.43
29,411,Pilani,Male,29,0,59697.17,2,1,1,53483.21
...,...,...,...,...,...,...,...,...,...,...
9970,518,Pilani,Male,42,7,151027.05,2,1,0,119377.36
9971,833,Pilani,Female,34,3,144751.81,1,0,0,166472.81
9972,758,Pilani,Male,26,4,155739.76,1,1,0,171552.02
9973,611,Pilani,Male,27,7,0.00,2,1,1,157474.10
9974,583,Pilani,Male,33,7,122531.86,1,1,0,13549.24
9975,610,Goa,Male,50,1,113957.01,2,1,0,196526.55
9976,637,Pilani,Female,33,7,103377.81,1,1,0,84419.78
9977,683,Pilani,Female,32,9,0.00,2,1,1,24991.92
9978,774,Pilani,Male,40,9,93017.47,2,1,0,191608.97
9979,677,Pilani,Female,58,1,90022.85,1,0,1,2988.28
9980,741,Hyderabad,Male,35,6,74371.49,1,0,0,99595.67
9981,498,Goa,Male,42,3,152039.70,1,1,1,53445.17
9982,655,Goa,Female,46,7,137145.12,1,1,0,115146.40
9983,613,Pilani,Male,40,4,0.00,1,0,0,151325.24
9984,602,Goa,Male,35,7,90602.42,2,1,1,51695.41
9985,659,Pilani,Male,36,6,123841.49,2,1,0,96833.00
9986,673,Goa,Male,47,1,183579.54,2,0,1,34047.54
9987,606,Hyderabad,Male,30,8,180307.73,2,1,1,1914.41
9988,775,Pilani,Male,30,4,0.00,2,1,0,49337.84
9989,841,Hyderabad,Male,28,4,0.00,2,1,1,179436.60
9990,714,Goa,Male,33,3,35016.60,1,1,0,53667.08
9991,597,Pilani,Female,53,4,88381.21,1,1,0,69384.71
9992,726,Hyderabad,Male,36,2,0.00,1,1,0,195192.40
9993,644,Pilani,Male,28,7,155060.41,1,1,0,29179.52
9994,800,Pilani,Female,29,2,0.00,2,0,0,167773.55
9995,771,Pilani,Male,39,5,0.00,2,1,0,96270.64
9996,516,Pilani,Male,35,10,57369.61,1,1,1,101699.77
9997,709,Pilani,Female,36,7,0.00,1,0,1,42085.58
9998,772,Goa,Male,42,3,75075.31,2,1,0,92888.52
9999,792,Pilani,Female,28,4,130142.79,1,1,0,38190.78

In [17]:
x=[606,"Pilani","Male",23,5,75000,2,1,1,25000]

In [18]:
y_pred = logistic.predict(X)

NameError: name 'logistic' is not defined

In [25]:
data = pd.read_csv("C:/Users/Ishita Jain/Desktop/Bank_EXIT_Survey.csv")
feature_names = list(data)

data = data[feature_names[3:]]
target = data["Status"]
data.drop("Status",axis=1,inplace=True)

data2 = pd.get_dummies(data["City"])
print(data2)
result = pd.concat([data, data2], axis=1)
result.drop("City",axis=1,inplace=True)

data2 = pd.get_dummies(result["Gender"])
print(data2)
result = pd.concat([result,data2],axis=1)
result.drop("Gender",axis=1,inplace=True)

X = result.values
print(X[1])
T = target.values
print(T)

      Goa  Hyderabad  Pilani
0       0          0       1
1       0          1       0
2       0          0       1
3       0          0       1
4       0          1       0
5       0          1       0
6       0          0       1
7       1          0       0
8       0          0       1
9       0          0       1
10      0          0       1
11      0          1       0
12      0          0       1
13      0          0       1
14      0          1       0
15      1          0       0
16      1          0       0
17      0          1       0
18      0          1       0
19      0          0       1
20      0          0       1
21      0          1       0
22      0          1       0
23      0          0       1
24      0          0       1
25      0          0       1
26      1          0       0
27      0          0       1
28      1          0       0
29      0          0       1
...   ...        ...     ...
9970    0          0       1
9971    0          0       1
9972    0          0       1
9973    0          0       1
9974    0          0       1
9975    1          0       0
9976    0          0       1
9977    0          0       1
9978    0          0       1
9979    0          0       1
9980    0          1       0
9981    1          0       0
9982    1          0       0
9983    0          0       1
9984    1          0       0
9985    0          0       1
9986    1          0       0
9987    0          1       0
9988    0          0       1
9989    0          1       0
9990    1          0       0
9991    0          0       1
9992    0          1       0
9993    0          0       1
9994    0          0       1
9995    0          0       1
9996    0          0       1
9997    0          0       1
9998    1          0       0
9999    0          0       1

[10000 rows x 3 columns]
      Female  Male
0          1     0
1          1     0
2          1     0
3          1     0
4          1     0
5          0     1
6          0     1
7          1     0
8          0     1
9          0     1
10         0     1
11         0     1
12         1     0
13         1     0
14         1     0
15         0     1
16         0     1
17         1     0
18         0     1
19         1     0
20         0     1
21         1     0
22         1     0
23         0     1
24         1     0
25         0     1
26         0     1
27         0     1
28         1     0
29         0     1
...      ...   ...
9970       0     1
9971       1     0
9972       0     1
9973       0     1
9974       0     1
9975       0     1
9976       1     0
9977       1     0
9978       0     1
9979       1     0
9980       0     1
9981       0     1
9982       1     0
9983       0     1
9984       0     1
9985       0     1
9986       0     1
9987       0     1
9988       0     1
9989       0     1
9990       0     1
9991       1     0
9992       0     1
9993       0     1
9994       1     0
9995       0     1
9996       0     1
9997       1     0
9998       0     1
9999       1     0

[10000 rows x 2 columns]
[6.0800000e+02 4.1000000e+01 1.0000000e+00 8.3807860e+04 1.0000000e+00
 0.0000000e+00 1.0000000e+00 1.1254258e+05 0.0000000e+00 1.0000000e+00
 0.0000000e+00 1.0000000e+00 0.0000000e+00]
[1 0 1 ... 1 1 0]

In [34]:
x=[]
x.append(606)
x.append(0)
x.append(0)
x.append(1)
x.append(0)
x.append(1)
x.append(23)
x.append(5)
x.append(75000)
x.append(2)
x.append(1)
x.append(1)
x.append(25000)
print(x)
#x=[606 0 0 1 0 1 23 5 75000 2 1 1 25000]

y_pred = logistic.predict(X)
print(y_pred)

[606, 0, 0, 1, 0, 1, 23, 5, 75000, 2, 1, 1, 25000]

NotFittedError: This LogisticRegression instance is not fitted yet